.box-option .print .push,
.link-more,
.other,
.p_bold span.rating,
.rating-b {
    text-align: center
}

.link-more,
.p_bold,
div.vote-block {
    position: relative
}

.box-fab-list,
.box_author,
.vote-block,
div.vote-wrap {
    overflow: hidden
}

@-moz-document url-prefix() {
    .vote-block ol.show-current li.currentbox span {
        background-position: 0 -40px!important
    }
    .vote-block .rating {
        height: 40px!important
    }
    .vote-block ol.show-current li.currentbox {
        background-position: 0 -3px!important;
        background-size: 35px 115px!important
    }
    .vote-block .rating:hover li {
        background-size: 35px 115px!important;
        background-position-y: -3px
    }
    .vote-block .rating li:hover,
    .vote-block .rating li:hover~li {
        background-position: 0 38px!important
    }
}

.box_author ul li,
.box_author ul li:before,
.main-box ol li:before,
.main-box ul li:before {
    background: 0 0!important;
    border: none!important
}

.p_bold {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column
}

.p_bold span.rating {
    font-weight: 600;
    font-size: 16px;
    color: #4e4e4e;
    margin-top: 10px
}

.fa-telegram:before {
    content: "\f2c6"
}

.js-push-button {
    cursor: pointer
}

.main-box {
    width: 98%;
    margin: 30px auto;
    -webkit-user-select: none
}

.box_author ul li {
    list-style: none!important;
    padding: 0!important;
    margin-bottom: 0!important
}

.vote-block ol li:after,
.vote-block ol li:before {
    counter-increment: none;
    content: none!important
}

.box_author {
    padding: 15px;
    margin: -1px 0 30px;
    display: flex;
    min-height: 100%;
    border: 1px solid #f2f5f8!important;
    font-size: 14px!important
}

.box-avatar {
    display: block;
    float: none;
    width: 100px;
    margin: 10px 15px 0 0
}

.box-avatar>img {
    width: 100px!important;
    height: 80px!important;
    max-width: 100%;
    border-radius: 50%;
    margin-right: 0
}

.avatar {
    display: inline;
    float: left;
    margin: 0 10px 0 0;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #d9d9d8
}

.box-fab-list {
    margin: 0!important;
    padding: 0!important;
    background: 0 0!important;
    border: none!important
}

ol.rating.show-current {
    background: 0 0;
    border: none
}

.box-fab-search-author-link {
    background-color: #fafafa;
    color: #333!important;
    padding: 2px 10px!important;
    border-radius: 8px 8px 0 0;
    list-style: none!important;
    background-image: none!important;
    width: fit-content!important;
    float: left;
    margin: 0!important;
    font-size: 16px;
    border-right: 1px solid #587e9f14;
    border-top: 1px solid #587e9f14;
    border-bottom: 0!important;
    display: block;
    text-indent: 0
}

.box-fab-search-author-link:hover {
    background-color: #fff
}

.box-fab-search-author-link:nth-child(1) {
    margin-left: 0!important;
    border-left: 1px solid #587e9f14;
    border-radius: 8px 8px 0 0
}

.box-fab-search-author-link a {
    text-decoration: underline!important
}

.author-more,
.box-option .print .btn-print,
.box-option .print .push:hover {
    text-decoration: none!important
}

.fa-paper-plane-o,
.fa-print {
    font-size: 13px!important
}

.box-option {
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: center
}

.box_author .name {
    font-weight: 700;
    font-size: 17px;
    padding: 0;
    color: #666!important;
    margin-bottom: 0
}

.box_author .description {
    font-size: 15px;
    line-height: 1.5em;
    padding: 0
}

.box_author .description p {
    margin-bottom: 0;
    padding: 0;
    text-indent: 0
}

.box-wrapper {
    max-width: 800px;
    margin: 1em;
    clear: both
}

.box-wrapper img {
    border: none!important
}

.box-option .link {
    width: 100%
}

.box-option .print {
    width: 210px;
    float: right;
    font-size: 13px;
    display: flex;
    justify-content: right;
    flex-flow: column
}

.box-option .print .push {
    border: 1px solid #868686;
    padding: 5px 15px;
    display: flex;
    height: 20px;
    transition: .5s;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 0;
    align-self: flex-end;
    justify-content: center;
    align-items: center
}

.box-option .print .push:hover {
    transition: .5s
}

.box-option .print .push .fa-telegram {
    font-size: 13px
}

.fa-print {
    margin-right: 5px
}

.box-option .print .btn-print {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 20px;
    padding: 3px 0;
    float: right;
    cursor: pointer
}

.link-more {
    color: #868686;
    padding-bottom: 0;
    margin-top: 4px;
    width: 100%
}

div.vote-block {
    width: 185px;
    margin: auto
}

div.vote-hover {
    float: left;
    cursor: pointer
}

div.vote-active,
div.vote-stars {
    position: absolute;
    left: 0;
    top: 0
}

div.vote-result {
    color: #ccc;
    font-size: 14px;
    margin-top: 12px;
    padding-left: 190px
}

div.vote-success {
    clear: both;
    color: #ccc;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
    margin: 10px 0 0 10px
}

.link-more ol .ol-item {
    background: 0 0!important
}

.vote-block {
    margin: 0 10px 0 0;
    vertical-align: middle;
    position: relative
}

.rating-info,
.rating-text {
    position: absolute;
    background: #fff;
    margin-right: 0;
    z-index: 36;
    display: none
}

.rating-info {
    width: 70px;
    top: 10px;
    left: 30%;
    border: 1px solid #dfdfdf;
    justify-content: center;
    font-size: 12px;
    padding: 5px;
    color: #eb722e;
    line-height: 10px
}

.rating-text {
    width: fit-content;
    margin-top: 0;
    right: 39%;
    top: 55%;
    border: none;
    justify-content: center;
    font-size: 10px;
    padding: 5px;
    color: #333;
    line-height: 10px
}

.vote-block .rating {
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0;
    width: auto;
    height: 33px;
    float: left;
    vertical-align: middle;
    background: 0 0!important
}

.vote-block .rating:hover .rating-text {
    display: flex!important
}

.vote-block .rating:hover li {
    cursor: pointer;
    background-image: url(/wp-content/plugins/modesco-author-box/images/star.svg);
    background-size: 35px 105px
}

.vote-block .rating li {
    display: block;
    width: 35px;
    height: 35px;
    padding: 0!important;
    float: right;
    text-indent: -9999px;
    cursor: pointer;
    margin-bottom: 0!important
}

.vote-block .rating li:hover,
.vote-block .rating li:hover~li {
    background-position: 0 33px
}

.vote-block.disabled .rating li.currentbox {
    display: block;
    z-index: 8;
    height: 33px;
    width: 175px
}

.vote-block .rating li.active,
.vote-block .rating li.active~li {
    background-position: 0 -45px
}

.vote-block li.currentbox {
    display: none
}

.vote-block ol.show-current {
    position: relative;
    padding: 0!important;
    margin: 3px 0 0!important
}

.vote-block ol.show-current li {
    cursor: default;
    z-index: 2;
    position: relative;
    margin: 0
}

.vote-block ol.show-current li.currentbox {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 35px;
    width: 100%;
    z-index: 1;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-image: url(/wp-content/plugins/modesco-author-box/images/star.svg);
    background-size: 35px 103px
}

.share {
    width: auto;
    height: auto
}

.box-option .rating,
.rating,
.share span {
    font-weight: 600;
    font-size: 16px;
    color: #4e4e4e;
    text-align: center
}

.other {
    line-height: 0
}

#uSocial .uscl-bar.uscl-size48 .ico_uscl,
.uSocial-Share .uscl-bar.uscl-size48 .ico_uscl {
    width: 65px!important;
    height: 30px!important;
    line-height: 48px!important;
    font-size: 23px!important;
    text-align: center!important;
    align-items: center!important;
    display: flex!important;
    justify-content: center!important;
    border-radius: 4px!important;
    text-indent: 0;
    font-weight: 100
}

.main-box .zen {
    padding: 8px 15px;
    margin: -1px 0 30px;
    display: flex;
    min-height: 100%;
    border: 1px solid #f2f5f8!important;
    font-size: 14px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fbfbfb;
    position: relative
}

.main-box .ya-zen {
    position: absolute;
    right: 8px;
    top: 5px;
    color: #cacaca;
    text-align: right
}

.main-box .zen-btn {
    background-color: #07f;
    color: #fff;
    text-transform: uppercase;
    height: 36px;
    padding: 10px 39px;
    font-size: 12px;
    letter-spacing: .8px;
    min-width: 40px;
    font-family: medium-ysans, sans-serif;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fd1731;
    text-decoration: none;
}

.main-box .zen-name .title {
    font-weight: 600;
    font-size: 25px;
    padding: 0 0 15px 0;
    color: #13254d;
    margin-bottom: 0
}

.main-box .zen-name .subscribers {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 2px;
    opacity: .85;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
padding-bottom: 10px;
    color: #13254d
}

.main-box .zen img {
    width: 160px;
    border-radius: 100%;
    margin-right: 30px;
    border: 1px solid #13254d0d
}

.main-box .zen-btn:hover {
    color: #fff;
    background-color: #005ac1;
    text-decoration: none
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .vote-block ol.show-current li.currentbox {
        background-image: url(/wp-content/plugins/modesco-author-box/images/star.svg)
    }
}

.vote-block ol.show-current li.currentbox span {
    display: block;
    height: 35px;
    width: 0;
    background: inherit;
    background-position: 0 -35px
}

.vote-block ol.show-current li:before {
    background: 0 0!important
}

.rating-text {
    display: flex;
    position: static;
    width: 100%
}

.rating-text svg {
    display: none
}

.rating-text .hc__ht {
    display: none!important
}

.vote-block.disabled + .rating-info {
    display: block;
    position: static;
    color: green;
    width: 100%;
    text-align: center;
    border: 0
}

@media screen and (max-width:640px) {
    div.vote-block {
        padding-left: 0
    }
    .main-box .uscl-list {
        text-align: center!important
    }
    .main-box {
        min-width: 230px;
        max-width: 320px;
        position: relative;
        width: fit-content;
        margin: 10px auto 60px
    }
    .main-box .zen img {
        width: 70%;
        border-radius: 100%;
        margin: 10px auto
    }
    .main-box .zen-btn {
        padding: 11px 25px;
        font-size: 11px;
        background-color: #fd1731;
        margin: 0 auto 10px
    }
    .main-box .zen {
        background: #13254d;
        border-radius: 5px
    }
    .main-box .zen-name {
        height: auto;
        margin-bottom: 15px;
        text-align: center
    }
    .main-box .zen-name .subscribers {
        text-align: center;
        color: #fff;
        opacity: 1
    }
    .main-box .zen-name .title {
        margin-top: 10px;
        color: #fff;
        text-align: center
    }
    .main-box .ya-zen {
        margin-bottom: 0;
        padding: 0;
        text-align: right;
        color: #43557c;
        font-size: 10px
    }
    .box-fab-search-author-link:nth-child(2) {
        position: absolute;
        bottom: -37px;
        margin-left: 0!important;
        width: 92%;
        text-align: center;
        border-radius: 0;
        border-right: none
    }
    .box-fab-search-author-link .btn-print,
    .box-fab-search-author-link:nth-child(3) {
        display: none
    }
    .box_author {
        margin: 0;
        display: block;
        min-width: 230px;
        width: fit-content
    }
    .box-avatar {
        width: 100%;
        display: flex;
        justify-content: center
    }
    .box-avatar>img {
        width: auto;
        min-width: 130px;
        min-height: 130px
    }
    .rating-b,
    .share {
        width: 100%!important
    }
    .avatar {
        border: none!important
    }
    .box_author .name {
        color: #000!important;
        text-align: center!important;
        margin: 10px 0
    }
    .box-option p {
        line-height: 20px;
        margin-top: 0!important;
        text-align: justify
    }
    .box-option .link {
        max-width: 100%;
        display: block
    }
    .box-option .print {
        max-width: 100%;
        display: flex;
        flex-flow: column-reverse;
        align-self: center;
        margin-top: 30px
    }
    .link-more,
    .share {
        display: flex;
        flex-flow: column
    }
    .box-option .print .btn-print {
        align-self: center;
        padding: 10px 0 0
    }
    .link-more {
        line-height: 30px;
        margin-top: 0!important
    }
    .rating-b {
        position: inherit!important;
        display: block;
        margin: 0
    }
    .other {
        display: flex;
        flex-flow: column
    }
    .box-option .print .push {
        align-self: center
    }
    .rating-info,
    .rating-text {
        position: relative;
        margin-top: 5px;
        font-size: 12px;
        right: 0
    }
}

@media print {
    #HyperComments_Box,
    #bar__nt,
    #before_footer,
    #hypercomments_widget,
    #menu-left,
    #search,
    #secondary,
    #sidebar,
    .adsbygoogle,
    .code-block,
    .g,
    .hypercomments_widget,
    .leadia_widget,
    .main-box,
    .nav-topbar,
    .post-nav,
    .post-sharrre .group,
    .relap-default-wrapper,
    .sidebar,
    .yarpp-related,
    aside,
    footer,
    header,
    iframe,
    nav {
        display: none!important
    }
    #content,
    #primary,
    .entry-content,
    .main {
        width: 100%;
        display: block
    }
}